//Pages
@import "pages/staff";
@import "pages/schedule";
@import "pages/home";

//Posts

//Archives
@import "archives/student-archive";

.sticky {
  display: block;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.post a img {
  max-height: 350px;
  object-fit: cover;
}
