.site {
  display: grid;
  grid-template-columns: auto ($size__site-sidebar);
  grid-template-areas:
    "header header"
    "main sidebar"
    "footer footer";
}

.site-header {
  grid-area: header;
}

@import "no-sidebar";
